*{
    font-family: "Poppins", sans-serif;
}
.font-bangla{
    font-family: "Hind Siliguri", sans-serif;
}
.active{
    background-color:#15803D ;
    color: white;
}

.active{
    background-color: #15803D;
    color: white;
    border-radius: 6px;
    padding: 8px;
}
